@using database_final_project.Models;
@using database_final_project.Patterns;
@using Newtonsoft.Json;

@model UserModel
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
@{
    var loginMsg = TempData["LogginMessage"] != null ? TempData["LogginMessage"].ToString() : "";
    var isLoggedIn = TempData["IsLoggedIn"].ToString();
    TempData.Keep("IsLoggedIn");


    if (isLoggedIn != string.Empty)
    {
        var name = isLoggedIn.ToString().Split(',').ElementAt(0);
        var id = int.Parse(isLoggedIn.ToString().Split(',').ElementAt(1));
        <p> you are logged in as @(isLoggedIn != null ? isLoggedIn.ToString().Split(',').ElementAt(0) : "")</p>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>


            </form>
        </div>

        if (TempData["History"] != null)
        {
            var productName = TempData["History"].ToString();
            
            <h2>Your last Viewed Product is @productName </h2>
        }




        var products = new AzureDb().GetProducts();
        foreach (var Product in products)
        {
            <div>

                <h2>@Product.cname</h2>
                <p>Description : @Product.cdescription</p>
                <p> Stock: @Product.nStock units</p>
                <p>Price: @Product.nUnitPrice DKK</p>
                <button>
                    <a href="@Url.Action("AddToBasket", "Home", Product)">Add to basket</a>
                </button>
                <button>
                    <a href="@Url.Action("AddToBasketAsGift", "Home", Product)">Add a gift Wraping for this product</a>
                </button>
                <div class="container">
                    <button>
                        <a href="@Url.Action("ProductDetails","Home",Product)">ProductDetails</a>
                    </button>
                    <button>
                        @{var RateModel = new RateModel();
                            RateModel.ProductId = Product.nProductId;
                        }
                        <a href="@Url.Action("RateProduct","Home",RateModel)">Rate a Product</a>
                    </button>

                </div>
                <br />
                <br />
                <br />
            </div>

        }



    }
    else
    {
        <h2>Acces restricted Please log in <a href="/">here</a></h2>
    }
}

@{

}
