@using database_final_project.Models
@model Product
@{
    ViewData["Title"] = "ProductDetails";
}
<h1>ProductDetails</h1>
@{
    var loginMsg = TempData["LogginMessage"] != null ? TempData["LogginMessage"].ToString() : "";
    var isLoggedIn = TempData["IsLoggedIn"].ToString();
    TempData.Keep("IsLoggedIn");

    if (isLoggedIn != string.Empty)
    {
        var name = isLoggedIn.ToString().Split(',').ElementAt(0);
        var id = int.Parse(isLoggedIn.ToString().Split(',').ElementAt(1));
        <p> you are logged in as @(isLoggedIn != null ? isLoggedIn.ToString().Split(',').ElementAt(0) : "")</p>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>


            </form>
        </div>

        <h2>@Model.cname</h2>
        <p>@Model.cdescription</p>
        <p> @Model.nStock units</p>
        <p>@Model.nUnitPrice DKK</p>
    }




    else
    {
        <h2>Acces restricted Please log in <a href="/">here</a></h2>
    }
}

